version: '3'
services:
  postgres:
    image: postgres:12.3
    networks:
      - compose-news-network
    ports:
      - "5436:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=news_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  app-newsservice:
    image: app-newsservice
    networks:
      - compose-news-network
    ports:
      - "8080:8080"
    environment:
      - APP_SERVER_PORT=8080
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=news_db
      - DB_SCHEMA=news_schema
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - postgres

networks:
  compose-news-network: